<header class="header">
  <!-- <div class="header-left">
    <div class="logo">
      <img src="assets/images/logo.png" alt="Lore PDKS Logo">
      <span class="logo-text">Lore PDKS</span>
    </div>
  </div> -->
  
  <div class="header-center">
    <div class="search-container">
      <span class="pi pi-search search-icon"></span>
      <input type="text" class="search-input" placeholder="Ara...">
    </div>
  </div>
  
  <div class="header-right">
    <div class="header-actions">
      <p-button icon="pi pi-bell" styleClass="p-button-rounded p-button-text notification-btn" (click)="notificationPanel.toggle($event)">
        <span class="notification-badge" *ngIf="notificationCount > 0">{{notificationCount}}</span>
      </p-button>
      
      <p-overlayPanel #notificationPanel [showCloseIcon]="true" [style]="{width: '350px'}">
        <ng-template pTemplate>
          <div class="notification-panel">
            <h3 class="notification-header">Bildirimler</h3>
            <div class="notification-list" *ngIf="notifications.length > 0">
              <div class="notification-item" *ngFor="let notification of notifications">
                <div class="notification-icon" [ngClass]="notification.type">
                  <i class="pi" [ngClass]="getNotificationIcon(notification.type)"></i>
                </div>
                <div class="notification-content">
                  <h4 class="notification-title">{{notification.title}}</h4>
                  <p class="notification-message">{{notification.message}}</p>
                  <span class="notification-time">{{notification.time | date:'shortTime'}}</span>
                </div>
              </div>
            </div>
            <div class="empty-notifications" *ngIf="notifications.length === 0">
              <p>Hiç bildirim yok</p>
            </div>
          </div>
        </ng-template>
      </p-overlayPanel>
    </div>
    
    <div class="user-info" *ngIf="authService.currentUserValue">
      <span class="user-name">{{ authService.currentUserValue.kisiDto?.ad }} {{ authService.currentUserValue.kisiDto?.soyad }}</span>
      
      <div class="user-menu-container">
        <p-avatar icon="pi pi-user" shape="circle" [style]="{ 'cursor': 'pointer' }" (click)="userMenu.toggle($event)"></p-avatar>
        <p-menu #userMenu [model]="userMenuItems" [popup]="true"></p-menu>
      </div>
    </div>
  </div>
</header>