<header class="header">
  <div class="header-left">
    <div class="logo">
      <img src="assets/images/logo.png" alt="Lore PDKS Logo">
      <span class="logo-text">Lore PDKS</span>
    </div>
  </div>
  
  <div class="header-right">
    <div class="user-info" *ngIf="authService.currentUserValue">
      <span class="user-name">{{ authService.currentUserValue.kisiDto?.ad }} {{ authService.currentUserValue.kisiDto?.soyad }}</span>
      
      <div class="user-menu-container">
        <p-avatar icon="pi pi-user" shape="circle" [style]="{ 'cursor': 'pointer' }" (click)="userMenu.toggle($event)"></p-avatar>
        <p-menu #userMenu [model]="userMenuItems" [popup]="true"></p-menu>
      </div>
    </div>
  </div>
</header>