{
  "AppSettings": {
    "FirmaKod": "FIRMA01",
    "IzlenecekDosya": "C:\\TemhaPdks\\data\\timerecords.txt",
    "IsDebugMode": false
  },
  "CoreSettings": {
    "HataliDosya": "C:\\TemhaPdks\\data\\hatalilar.txt"
  }
}
