<div class="islem-buttons-container" *ngIf="hasButtons">
  <!-- Normal butonlar (1-2 buton olduğunda) -->
  <ng-container *ngIf="showNormalButtons">
    <ng-container *ngFor="let button of visibleButtons">
      <button 
        pButton 
        pRipple 
        [icon]="button.icon" 
        [class]="buttonClass" 
        [ngClass]="button.class || ''"
        [pTooltip]="button.tooltip" 
        tooltipPosition="top"
        [disabled]="isButtonDisabled(button)"
        (click)="onButtonClick(button.action, data, $event)">
      </button>
    </ng-container>
  </ng-container>

  <!-- Özel Toggle Menü (3+ buton olduğunda) -->
  <div class="toggle-menu-container" *ngIf="showToggleMenu">
    <!-- Ana Toggle Butonu (X ikonu) -->
    <button 
      pButton 
      pRipple 
      icon="pi pi-bars"
      [class]="buttonClass" 
      pTooltip="İşlem Menüsü" 
      tooltipPosition="top"
      (click)="toggleMenu($event)"
      [ngClass]="{'toggle-active': isMenuOpen}">
    </button>
    
    <!-- Açılır Menü Butonları -->
    <div class="toggle-menu-items" *ngIf="isMenuOpen" [ngClass]="direction">
      <ng-container *ngFor="let button of visibleButtons; let i = index">
        <button 
          pButton 
          pRipple 
          [icon]="button.icon" 
          [class]="buttonClass" 
          [ngClass]="[button.class || '', 'position-' + i]"
          [pTooltip]="button.tooltip" 
          tooltipPosition="top"
          [disabled]="isButtonDisabled(button)"
          (click)="onButtonClick(button.action, data, $event)">
        </button>
      </ng-container>
    </div>
  </div>
</div>