.islem-buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 32px;
  
  /* Normal butonlar için düzenleme */
  button {
    margin-right: 0.25rem;
    
    &:last-child {
      margin-right: 0;
    }
  }
}

/* SpeedDial özelliklerini sıfırlamak için en temel stil */
::ng-deep {
  .p-speeddial {
    position: static !important;
    
    .p-speeddial-button.p-button.p-button-icon-only {
      width: 2rem;
      height: 2rem;
    }
    
    .p-speeddial-list {
      z-index: 1000;
    }
    
    .p-speeddial-item {
      margin: 0.25rem 0;
      
      .p-speeddial-action {
        width: 2rem;
        height: 2rem;
      }
    }
  }
}