<div class="select-container">
  <!-- Başlık -->
  <label *ngIf="title" [for]="'select-' + title" class="mb-2">
    {{ title }}
    <span *ngIf="isRequired" class="text-danger">*</span>
  </label>
  
  <!-- Yükleniyor durumu -->
  <div *ngIf="(isLoading$ | async); else contentTemplate" class="select-loading">
    <i class="pi pi-spin pi-spinner"></i> Yükleniyor...
  </div>
  
  <!-- İçerik şablonu -->
  <ng-template #contentTemplate>
    <!-- Debug bilgisi (gizli) -->
    <pre *ngIf="false">{{ itemList | json }}</pre>
    
    <!-- Tekli seçim -->
    <div *ngIf="!multiple">
      <p-dropdown 
        [options]="itemList" 
        [placeholder]="placeholder"
        [disabled]="isDisabled"
        [required]="isRequired"
        [styleClass]="'w-100 ' + class"
        [(ngModel)]="selectedValue"
        optionLabel="value"
        optionValue="key"
        (onChange)="onSelectionChange($event)"
        [showClear]="!isRequired">
      </p-dropdown>
    </div>
    
    <!-- Çoklu seçim -->
    <div *ngIf="multiple">
      <p-multiSelect 
        [options]="itemList" 
        [placeholder]="placeholder"
        [disabled]="isDisabled"
        [required]="isRequired"
        [styleClass]="'w-100 ' + class"
        [(ngModel)]="selectedValue"
        optionLabel="value"
        optionValue="key"
        (onChange)="onSelectionChange($event)"
        [showToggleAll]="true"
        [showHeader]="true">
      </p-multiSelect>
    </div>
  </ng-template>
</div>