<div class="data-grid-container">
  <div class="data-grid-header">
    <div class="header-left" *ngIf="headerTitle">
      <h2>{{ headerTitle }}</h2>
    </div>
    <div class="header-right">
      <div class="view-mode-buttons">
        <button 
          pButton 
          pRipple 
          icon="pi pi-list" 
          class="p-button-rounded p-button-text p-button-sm"
          [class.p-button-outlined]="viewMode === ViewMode.LIST"
          pTooltip="Liste Görünümü" 
          tooltipPosition="left"
          (click)="changeViewMode(ViewMode.LIST)"
          [disabled]="isMobile">
        </button>
        <button 
          pButton 
          pRipple 
          icon="pi pi-th-large" 
          class="p-button-rounded p-button-text p-button-sm"
          [class.p-button-outlined]="viewMode === ViewMode.CARD"
          pTooltip="Kart Görünümü" 
          tooltipPosition="left"
          (click)="changeViewMode(ViewMode.CARD)">
        </button>
      </div>
    </div>
  </div>
  
  <!-- Liste görünümü -->
  <div *ngIf="viewMode === ViewMode.LIST" class="data-grid-list-view">
    <p-table 
      [value]="data" 
      [columns]="columns"
      [responsive]="responsive"
      [paginator]="paginator"
      [rows]="rows"
      [rowsPerPageOptions]="rowsPerPageOptions"
      [loading]="loading"
      selectionMode="single"
      [(selection)]="selectedRow"
      (onRowSelect)="onRowSelect($event)"
      (onRowUnselect)="onRowUnselect($event)"
      styleClass="p-datatable-sm"
      [tableStyle]="tableStyle || {'min-width': '50rem'}">
      
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th class="actions-header" style="width: 100px;">İşlemler</th>
          <th *ngFor="let col of columns" [pSortableColumn]="col.field">
            {{col.header}}
            <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
          <td class="actions-cell">
            <app-islem-buttons 
              [buttons]="actionButtons" 
              [data]="rowData"
              direction="right"              
              (buttonClick)="onAction($event.action, $event.data)">
            </app-islem-buttons>
          </td>
          <td *ngFor="let col of columns">
            <ng-container *ngIf="!col.template">
              {{ col.format ? col.format(rowData[col.field], rowData) : rowData[col.field] }}
            </ng-container>
            <ng-container *ngIf="col.template">
              <ng-container *ngTemplateOutlet="col.template; context: {$implicit: rowData, field: col.field}"></ng-container>
            </ng-container>
          </td>
        </tr>
      </ng-template>
      
      <ng-template pTemplate="emptymessage">
        <tr>
          <td [attr.colspan]="columns.length + 1" class="text-center">
            Kayıt bulunamadı
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  
  <!-- Kart görünümü -->
  <div *ngIf="viewMode === ViewMode.CARD" class="data-grid-card-view">
    <app-data-card
      [data]="data"
      [columns]="columns"
      [loading]="loading"
      [headerTitle]="''"
      [actionButtons]="actionButtons"
      (rowSelect)="rowSelect.emit($event)"
      (rowAction)="onAction($event.action, $event.data)">
      <ng-template #customActions let-rowData>
        <ng-container *ngIf="customActionsTemplate">
          <ng-container *ngTemplateOutlet="customActionsTemplate; context: {$implicit: rowData}"></ng-container>
        </ng-container>
      </ng-template>
    </app-data-card>
  </div>
</div>